
/* web fonts */

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700';
@font-face{
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot')
}

/* global styles */
.heroTitle{
    font-size: 120px;
    line-height: 110px;
}

.heroSubtitle{
    font-size: 60px;
    line-height: 50px;
}
.smallMap {
    width: 350px;
}


@media (max-width: 2000px) {

.smallMap {
    width: 16vw;
}

.heroTitle{
    font-size: 6vw;
    line-height: 5.5vw;
}

.heroSubtitle{
    font-size: 3.25vw;
    line-height: 3vw;
}

}

.roomHero:hover .overlay {
    min-width: 280px;
transform: translateX(-18vw);
}

.roomHero:hover .roomImg{
filter: blur(0px);
}

.roomHero:hover .heroTitle{
filter: blur(10px);
opacity: 0.5!important;
}

.overlay {
position: absolute;
    bottom: 0;
    right: -18vw;
    background-color: rgba(71, 71, 71, 0.86);
    overflow: hidden;
    height: 100%;
    transition: .5s ease;
    width: 18vw;
    min-width: 0px;
    max-width: 400px;
}

:focus {
    outline: 0px;
}


/* The container <div> - needed to position the dropdown content */
.dropDown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 340px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

/* Links inside the dropdown */
.libHeader_menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
margin-right: 0px;
   -webkit-transition: 0s;
   -moz-transition: 0s;
   -o-transition: 0s;
   transition: 0s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #474747;
color:white;
   -webkit-transition: 0s;
   -moz-transition: 0s;
   -o-transition: 0s;
   transition: 0s;
}

/* Show the dropdown menu on hover */
.dropDown:hover .dropdown-content {
    display: block;
    padding-top: 11px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {

}

html,
body {
margin: 0px;
font-family: Roboto;
background: white;
color: #474747;
}

.libContainer{
display: flex;
flex-direction: row;
height: 100%;
}

.libPage{
width: calc(100% - 86px);
margin-left: 86px;
    display: flex;
    flex-direction: column;
}

.roomIcon {
position: absolute;
right: 10px;
top: 9px;
display: none;
color: #474747;
}

.libSidebar{
display: flex;
flex-direction: column;
background-color: #474747;
width: 116px;
position: fixed;
height: 100%;
top: 0px;
}

.libSidebar_item{
height: 86px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position:relative;
}

.lastItem{
height: 86px;
border-bottom: 0px;
align-self: flex-end;
width: 86px;
position: relative;
bottom: 0px;
}

.libSidebar_LSU img{
width: 40px!important;
}

.libSidebar_bottomRegion{
position:absolute;
bottom: 0px;
left: 14px;
}

.libHeader{
display: flex;
    background-color: #f2f2f2;
    padding: 0px;
    color: #474747;
    width: auto;
    height: 172px;
    flex-direction: column;
    align-items: center;
    padding-left: 86px;
    padding-right: 86px;
    position: relative;
}

a.donateLink{
        color: #474747;
}

.donateButton {
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 16px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    border: 1px solid #c3c3c3;
    justify-content: center;
    align-items: center;
    font-weight: 700;    
}

.donateButton i.fa.fa-gift {
    font-size: 2em;
    margin-right: 10px;
}

.libContent{
display: flex;
flex-direction: column;
padding-left: 86px;
padding-right: 86px;
align-items: center;
-webkit-transition: 0.75s;
-moz-transition: 0.75s;
-o-transition: 0.75s;
transition: 0.75s;

}

.libCentral{
background-image: url(http://i.imgur.com/BJtKhwV.png);
width: 100%;
max-width: 1440px;
min-height: 260px;
display: flex;
justify-content: center;
align-items: center;

}

.libAddition{
width: 100%;
max-width: 1440px;
height: 86px;
margin-top: 2px;
}

.libAddition_item{
float: left;
width: calc(20% - 2px);
margin-right: 2px;
background-color: #f2f2f2;
height: 100%;
}

.libContent a{
text-decoration: none;
    color: #474747;
}

.libAddition_item:last-child{
margin-right: 0px;
}

span.listCategory {
    background: #474747;
    border-radius: 4px;
    color: white;
    padding: 3px;
    font-size: 6px;
    margin-left: 5px;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.roomNav {
    color: #474747!important;
    top: 10px;
    width: 100%;
    background: white;
    padding: 7px 0px 7px 0px;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 10px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 99;
    padding: 10px;
    border: 1px solid #ccc;
}



.roomNav:hover{
    color: #FFFFFF!important;
    background: #474747;
    border: 1px solid #474747;


}

.roomNav i{
    margin-right: 5px;
}

.mapNav {
    width: 100%;
    height: 100px;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mapLegend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: -50px;
    left: -20px;
    box-sizing: border-box;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    line-height: 12px;
    font-weight: 900;

    display:none;
}

.mapNav_label {
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    color: #676767;
    background: #ffffff;
    box-sizing: border-box;
    border-bottom: 4px solid #676767;
}

.nameLegend::before{
    content: '';
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background: #c8bbd8;
    display: inline-block;
}

.takenLegend::before{
    content: '';
    width: 20px;
    height: 10px;
    margin-right: 5px;
    background: #ffb2b2;
    display: inline-block;
}


.single {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 10px;
    line-height: 12px;
    font-weight: 900;
}

.mapNav_item {
    width: 34%;
    height: 100%;
    margin-right: 2%;
}

.mapNav_item:nth-child(3) {

    margin-right: 0px;

}

.libGrid{
height: auto;
width: 100%;
max-width: 1440px;
position:relative;
}

.libGrid_item{
    float: left;
    width: calc(16.66% - 2px);
    margin-right: 2px;
    background-color: #f2f2f2;
    margin-top: 2px;
height: 100%;
    position: relative;
max-width: 120px;
max-height: 120px;
}

.libGrid_item img{
width: 100%;
}

.itemTitle {
position: absolute;
width: 100%;
text-transform: uppercase;
text-align: center;
color: #474747;
letter-spacing: 1px;
    font-size: 8px;
background: rgba(255, 255, 255, 0.66);
height: 100%;
justify-content: center;
display: flex;
opacity: 0;
align-items: center;
font-weight: 900;
-webkit-transition-duration: 0.25s; /* Safari */
transition-duration: 0.25s;
    text-align: left;
}

.libGrid_item:hover > .itemTitle{
opacity: 1;
-webkit-transition-duration: 0s; /* Safari */
transition-duration: 0s;
}

.libPage_divider{
background-image: url(http://i.imgur.com/BJtKhwV.png);
margin-top: 2px;
width: 100%;
max-width: 1440px;
height: 20px;
}

.imageMap{
position: relative;
}

.imageMap .hotspots {
width: 100%;
height: 100%;
position: absolute;
left: 0;
top: 0;
}

.imageMap{
margin-top: 30px;
}

.imageMap img{
display:block;
width:100%;
height: 100%;
}

.mobileSelect {
    width: 100%;
    position: relative;
    flex-direction: row;
display:none;
}

.mobileSelect2 {
    width: 100%;
    position: relative;
    flex-direction: row;
    margin-top: -1px;
display:none;
}

.grow1{
flex-grow:1;
z-index: 3;

}

.floor {
    display: flex;
    height: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    font-size: 6px;
    letter-spacing: 1px;
    padding: 7px 0px 7px 0px;
    color: #ffffff;
    background-color: #474747;
}

.floorReveal{
z-index: 2;
}

.current{
    color: white;
    background: #c8bbd8;
}

.notCurrent{
    color: #ccc;
    background: #474747;
}

.floorSelect {
    height: 34px;
    width: 0px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -o-transition: 0.25s;
   transition: 0.25s;
opacity:0;
}

.slideOut {
    height: 34px;
    width: 54px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
   -webkit-transition: 0.25s;
   -moz-transition: 0.25s;
   -o-transition: 0.25s;
   transition: 0.25s;
opacity: 1.0;
}


.floor i{
    font-size: 2.5em;
    margin-right: 4px;
}

.mobileSelect2 .floor i{
    font-size: auto;
    margin-right: 4px;
}

.mobileSelect2 .floor{
    line-height: 10px;
    font-size: 10px;
    letter-spacing: 1px;
    background: white;
    font-weight: 900;
    color: #474747;
justify-content: flex-start;

}


.mobileSelect2 .slideOut{
padding: 1px;
}


.mapControls {
    position: absolute;
    bottom: -30px;
    width: 280px;
    background: #f9f9f9;
    height: 60px;
    right: -40px;
    border: 1px solid #dbdbdb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  z-index: 99;
}

.hill .mapControls{

    bottom: -50px;

    padding-top: 10px;
    padding-bottom: 10px;
}

.foldControls{
    position: absolute;
    bottom: 29px;
    width: 0px;
    height: 0px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #dbdbdb;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    right: -40px;
}



.libControls ul li{
    color: #474747;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 0px;
    padding-right: 20px;
  font-weight: 700;
}

.libControls ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.libControls ul li .check{
    display: block;
    position: absolute;
    border: 3px solid #474747;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 3px;
    left: -30px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}
.libControls label{
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.libControls ul li:hover .check {
    transition: border 0s linear;
    -webkit-transition: border 0s linear;
  border: 3px solid #9e8ab9;
}

.libControls ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 13px;
    width: 13px;
    top: -1px;
    left: -1px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.libControls input[type=radio]:checked ~ .check {
  border: 3px solid #474747;
}

.libControls input[type=radio]:checked ~ .check::before{
  background: #474747;
}

.libControls input[type=radio]:checked ~ label{
  color: #474747;
  font-weight: 700;
}

.room{
position: absolute;
z-index: 200;
padding: 1px;
-webkit-transition: 0.75s;
-moz-transition: 0.75s;
-o-transition: 0.75s;
transition: 0.75s;
display: flex;
justify-content: center;
align-items: center;
background: rgba(70, 29, 124, 0.30);

}

.room.unnamed:hover  {
    background: rgba(132, 132, 132, 0.4);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;

}

.room:hover {
background: rgba(70, 29, 124, 0.40);

    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;

    /*background-image: url(http://i.imgur.com/mkAqq31.png);*/
}


.room:hover > .roomTitle{
    /*color: #474747;
    letter-spacing: 2px;
    background: rgba(255, 255, 255, 0.7);*/
}

.roomTitle{
    border-radius: 4px;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0px;
    background: none;
    font-weight: 700;
    border: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 3px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
}

.symbolTitle{
    color: rgb(162, 142, 189);
    background: none;

}

.baysTitle{
background-color: transparent;
color: #474747;
}

.hotspots .unnamed {
    background: rgba(132, 132, 132, 0.15);
}

.hotspots .transparent {
    background: transparent;

}

.hotspots .transparent > .roomTitle {
    z-index: 201;
    color: #474747;
    text-shadow: none;
border: none;
background: none;
}

 .greyMask > .roomTitle{
color: #474747;

}

.hotspots .unnamed > .roomTitle{
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    color: #474747;
}




.named{
    background: rgba(255, 0, 0, 0.3);
}

.named:hover{
    background: rgba(255, 0, 0, 0.4);
}

div.doorLess {
    height: 20%;
    width: 100%;
    padding: 0px;
}

.doorlessGroup {
    display: flex;
    flex-direction: column;
    width: 3.9%;
    position: absolute;
    top: 48.5%;
    left: 4.8%;
    height: 21.6%;
    padding: 1px;
    justify-content: space-between;
}

.collaboration2Mask{
    background-image: url(../images/masks/collab2_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    background-repeat: no-repeat;

}

.collaboration2Mask:hover{
    background-image: url(../images/masks/collab2_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    background-repeat: no-repeat;

}

.musicMask{
    background-image: url(../images/masks/music_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    background-repeat: no-repeat;

}

.musicMask:hover{
    background-image: url(../images/masks/music_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    background-repeat: no-repeat;

}

.adminMask{
    background-image: url(../images/masks/admin_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    background-repeat: no-repeat;
}

.adminMask:hover{
    background-image: url(../images/masks/admin_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    background-repeat: no-repeat;

}

.loungecMask{
    background-image: url(../images/masks/loungec_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    background-repeat: no-repeat;
}

.loungecMask:hover{
    background-image: url(../images/masks/loungec_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.loungedMask{
    background-image: url(../images/masks/lounged_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
}

.loungedMask:hover{
    background-image: url(../images/masks/lounged_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.collabMask_white{
    background-image: url(../images/masks/collab_bg_white.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
}

   .sr .fooReveal { visibility: hidden; }

.collabMask_white{
    background-image: url(../images/masks/collab_bg_white.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
}

.collabMask{
    background-image: url(../images/masks/collab_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
background-repeat: no-repeat;
}

.collabMask:hover{
    background-image: url(../images/masks/collab_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.seatingMask{
    background-image: url(../images/masks/seating_bg.png);
    position: absolute;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
background-repeat: no-repeat;
}

.seatingMask:hover{
    background-image: url(../images/masks/seating_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
background-repeat: no-repeat;
}

.chartwellsMask{
    background-image: url(../images/masks/chartwells_bg.png);
    position: absolute;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
background-repeat: no-repeat;
}

.chartwellsMask:hover{
    background-image: url(../images/masks/chartwells_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
background-repeat: no-repeat;
}

.returnMask{
    background-image: url(../images/masks/return_bg.png);
    position: absolute;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: 0.75s;
    -moz-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
}

.returnMask:hover{
    background-image: url(../images/masks/return_bg2.png);
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.collabMask > .roomTitle{
    position: relative;
    right: 10%;
}

.returnMask > .roomTitle{
    position: relative;
    bottom: 27%;
    right: 5%;
}

.adminMask > .roomTitle{
    position: relative;
    bottom: 18.5%;
    right: 8%;
}

.loungecMask > .roomTitle{
    position: relative;
    top: 29%;
}

#curatorManuscripts{
    left: 92.3%;
    top: 41.2%;
    width: 5.5%;
    height: 6.5%;
}

#curatorBooks {
    left: 92.3%;
    top: 48.7%;
    width: 5.5%;
    height: 7.6%;
}

#adSpecial{
    left: 89.8%;
    top: 31.7%;
    width: 8%;
    height: 8.7%;
}

#chartwells{
    left: 67.0%;
    top: 1.3%;
    width: 28.4%;
    height: 48.3%;
}

#mechanical2 {
    left: 50.4%;
    top: 30.1%;
    width: 12%;
    height: 17.3%;
}

#loungeC {
    left: 0.9%;
    top: 81.2%;
    width: 73.5%;
    height: 12.2%;
}

#computerLab {
    left: 43.9%;
    top: 64.6%;
    width: 22%;
    height: 22.7%;
}

#cas{
    left: 0.8%;
    top: 15.6%;
    width: 7.4%;
    height: 64.8%;
}

#admin{
    left: 50.2%;
    top: .6%;
    width: 49%;
    height: 29.4%;
}


#musicLibrary{
    left: 66.4%;
    top: 47%;
    width: 32.8%;
    height: 46.2%;
}

#oralHistory{
    left: 74.6%;
    top: 88.4%;
    width: 16%;
    height: 4.5%;
}

#its2 {
    left: 66.2%;
    top: 75.6%;
    width: 8.1%;
    height: 11.6%;
}

#its {
    left: 92.9%;
    top: 44.9%;
    width: 6.2%;
    height: 13.8%;
}

#server {
    left: 87.5%;
    top: 47%;
    width: 5.1%;
    height: 11.7%;
}

#classroom4 {
    left: 91.9%;
    top: 24.4%;
    width: 7.1%;
    height: 19.9%;
}

#classroom3 {
    left: 84.5%;
    top: 24.4%;
    width: 7.1%;
    height: 19.9%;
}

#classroom2 {
    left: 85.1%;
    top: 12.4%;
    width: 13.9%;
    height: 11.3%;
}

#classroom1{
    left: 75.2%;
    top: 12.4%;
    width: 7.3%;
    height: 26.9%;
}

#staffConference{
    left: 33.6%;
    top: 0.4%;
    width: 16.2%;
    height: 11.8%;
}

#vestibuleC{
    left: 91.3%;
    top: 36%;
    width: 3.8%;
    height: 13.4%;
}

#vestibuleB {
    left: 58.5%;
    top: 1.2%;
    width: 8.2%;
    height: 5.8%;
}

#vestibuleA {
    left: 58.6%;
    top: 76.5%;
    width: 7.75%;
    height: 5.3%;
}

#mechanical {
    left: 50.2%;
    top: 30.4%;
    width: 12.3%;
    height: 16.9%;
}

#loungeD {
    left: 0.9%;
    top: .6%;
    width: 32.2%;
    height: 14.6%;
}


#loungeD .roomTitle {
    position: relative;
    bottom: 30%;
}

#womens1 {
    left: 70.8%;
    top: 23.9%;
    width: 4%;
    height: 16.4%;
}

#womens2 {
    left: 70.9%;
    top: 23.1%;
    width: 3.5%;
    height: 16.9%;
}

#mens1{
    left: 66.3%;
    top: 23.9%;
    width: 4%;
    height: 16.4%;
}

#mens2 {
    left: 66.8%;
    top: 23.1%;
    width: 3.5%;
    height: 16.9%;
}

#loading{
    left: 83.1%;
    top: 1.2%;
    width: 12.7%;
    height: 5.5%;
}
#loading2{
    left: 91.6%;
    top: 7.5%;
    width: 3.8%;
    height: 16.6%;
}

#foodPrep{
    left: 88.1%;
    top: 24.1%;
    width: 7.3%;
    height: 11.9%;
}

#foodService{
    left: 82.5%;
    top: 24.1%;
    width: 5%;
    height: 11.9%;
}

#seating{
    left: 67.3%;
    top: 1.4%;
    width: 21.7%;
    height: 47.6%;
}

#seating:hover{
    left: 67.3%;
    top: 1.4%;
    width: 21.7%;
    height: 47.6%;
}

#bookReturn{
    left: 55.1%;
    top: 47.8%;
    width: 6.9%;
    height: 10.9%;
}

#cf3{
    left: 87.64%;
    top: 49.8%;
    width: 3.64%;
height: 8.7%;
}

#cf2{
    left: 83.4%;
    top: 49.8%;
    width: 3.64%;
height: 8.7%;
}

#cf1{
    left: 79.16%;
    top: 49.8%;
    width: 3.64%;
height: 8.7%;
}

#gs7{
    left: 91.88%;
    top: 49.8%;
    width: 3.64%;
height: 8.7%;
}


#gs6{
    left: 74.92%;
    top: 49.8%;
    width: 3.641%;
height: 8.7%;
}

#gs5{
    left: 50.1%;
    top: 47.8%;
    width: 4.5%;
    height: 11.3%;
}

#gs4{
    left: 91.5%;
    top: 82.2%;
    width: 4.1%;
    height: 4.9%;
}

#gs3{
    left: 74.8%;
    top: 82.2%;
    width: 6.6%;
    height: 4.9%;
}

#gs2{
    left: 4.8%;
    top: 75.5%;
    width: 3.9%;
    height: 11.7%;
}

#gs1 {
    left: 4.8%;
    top: 7.6%;
    width: 3.9%;
    height: 11.7%;
}

#flexSpace{
    left: 49.9%;
    top: 59.4%;
    width: 8.3%;
    height: 19.6%;
}

#accessServices{
    left: 43.8%;
    top: 12.9%;
    width: 6%;
    height: 46.2%;
    border-radius: 0px 0px 0px 20px;
}

#futureLounge {
    left: 17.3%;
    top: 1.4%;
    width: 40.8%;
    height: 11.2%;
}

#futureLounge2 {
    left: 18.6%;
    top: 82.4%;
    width: 31.4%;
    height: 4.9%;
}

#futureReading{
    left: 70.7%;
    top: 59.4%;
    width: 24.8%;
    height: 22.2%;
}

#southEntry{
    left: 58.4%;
    top: 82.4%;
    width: 8%;
    height: 9.2%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
}

#eastEntry{
    left: 97.4%;
    top: 38.2%;
    width: 4%;
    height: 9.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
}


#northEntry{
    left: 58.4%;
    top: -9%;
    width: 8%;
    height: 9.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #474747;
}

#collaboration {
    left: 19.8%;
    top: 15.7%;
width: 41.6%;
    height: 63.6%;
}

#collaboration2 {
    left: 8.55%;
    top: 6.5%;
    width: 34.6%;
    height: 81.1%;
}

#artGallery{
    left: 61.5%;
    top: 16.4%;
    width: 4.5%;
    height: 49.2%;
}


#artGallery:hover{
    background: rgba(132, 132, 132, 0.3);
}

#artGallery .roomTitle{
    color: #474747;
    left: 19%;
    position: relative;
}

#studyArea {
    left: 10.3%;
    top: 48.6%;
    width: 5.5%;
    height: 30.7%;
}

#studyBays {
    left: 1.8%;
    top: 48.7%;
    width: 1.9%;
    height: 25.5%;
    border-right: 4px solid #474747;
}

#graduateReading{
    left: 76.6%;
    top: 57.4%;
    width: 21%;
    height: 23.7%;
}

#shellTutorial {
    left: 4.6%;
    top: 12.8%;
    width: 12.2%;
    height: 34.2%;
}

#publicServices {
    left: 87.4%;
    top: 32.7%;
    width: 9.7%;
    height: 14%;
}

#hillLecture{
    left: 2.3%;
    top: 57.4%;
    width: 30.7%;
    height: 23.7%;
}

#hillLobby{
    left: 38%;
    top: 65.4%;
    width: 24%;
    height: 16%;
}

#hillDonor {
    left: 67.2%;
    top: 63.6%;
    width: 9.1%;
    height: 18%;
}

#hillExhibits {
    left: 38%;
    top: 45.6%;
    width: 23.8%;
    height: 19%;
}

#hillExhibits_2 {
    left: 37.7%;
    top: 48.8%;
    width: 23.1%;
    height: 17%;
}

#hillEvent{
left: 2.8%;
    top: 57.7%;
    width: 34%;
    height: 24%;
}

#hillSeminar{
    left: 2.8%;
    top: 32.7%;
    width: 11.6%;
    height: 24.1%;
}

#elevators {
    left: 66.2%;
    top: 47.2%;
    width: 8.3%;
    height: 3.8%;
}

#elevators2 {
    left: 66.2%;
    top: 46.7%;
    width: 8.3%;
    height: 4%;
}

#stairs {
    left: 66.2%;
    top: 51.7%;
    width: 8.3%;
    height: 6.7%;
}

#stairs2 {
    left: 66.2%;
    top: 51.4%;
    width: 8.3%;
    height: 6.7%;
}

.Middleton{
    padding-top: 20px;
    padding-bottom: 0px;
}



.mapTitle {
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    bottom: -17%;
    letter-spacing: 2px;
    border-bottom: 10px solid #474747;
    font-weight: 600;
    position: absolute;
    z-index: 99;
    max-width: 710px;
    text-transform: uppercase;
    left:0px;
    display:none;
}

.mapTitleMiddleton {
    font-size: 12px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    width: 45%;
    margin: 0 auto;
    bottom: -12.5%;
    letter-spacing: 2px;
    border-bottom: 10px solid #474747;
    font-weight: 600;
    z-index: 99;
    text-transform: uppercase;
    position: absolute;
display:none;

}

.firstHill{
    margin-bottom: 30px;
}

.mapSubtitle {
    padding: 0px 0px 2px 0px;
    font-weight: 400;
    text-align: left;
    border-radius: 50px;
    display: inline-block;
}

.libHeader_current{
color: #a28ebd!important;
}

.libHeader_logo, .libHeader_menu{
max-width: 1440px;
width: 100%;
}

.libHeader_logo img{
width: 300px;
position: relative;
top: 93px;
left: 0px;
}

.libHeader_menu{
    position: relative;
    top: 97px;
    left: 0px;
}

.libHeader_menu  a{
text-decoration: none;
color: #474747;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 12px;
margin-right: 20px;
-webkit-transition-duration: 1s; /* Safari */
transition-duration: 1s;
}

.libHeader_menu > a:hover{
color: #9e8ab9;
-webkit-transition-duration: .2s; /* Safari */
transition-duration: .2s;
    padding-bottom: 15px;
}

.libAddition, .libPage_divider{
display: none;
}
.menuIcon{
top:10px;
left: 0px;
display: none;
}

#my-icon{
    top: 0 !important;
    left: 0 !important;
    position: absolute;
}

.mm-listview>li{
-webkit-transition-duration: .2s; /* Safari */
transition-duration: .2s;
bottom: 0px;
position: relative;
text-transform: uppercase;
font-size: 10px;
letter-spacing: 1px;

}

.mm-listview>li:not(.mm-divider):hover{
position: relative;
padding-bottom: 4px;
-webkit-transition-duration: 0s; /* Safari */
transition-duration: 0s;

font-size:11px;
}

.mm-theme-dark .mm-listview>li:not(.mm-divider):hover{
color: white;
}

.menuLabel {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    position: absolute;
    width: 40px;
    letter-spacing: 0px;
    height: 19px;
    z-index: 10;
    top: 28px;
    left: -16px;
    text-align: center;
    display: none;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#studyBays .roomTitle, #studyArea .roomTitle, #accessServices .roomTitle, .rotate {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
top: 0px;
}

.libTitle {
    display: inline-block;
    font-weight: 700;
    color: #474747;
    border-bottom: 0px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    margin-right: 20px;
}

.iconLarge{
font-family: FontAwesome Regular;
color: #808080;
-webkit-transition-duration: .2s; /* Safari */
transition-duration: .2s;
}

.iconTitle {
font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    bottom: 14px;
    left: 0px;
    text-align: center;
    width: 100%;
}

nav i{
margin-right:5px;
}

.twoLines{
    width: 72px;
    line-height: 10px;
}

.libSidebar a{
color: #d3d3d3;
text-decoration: none;
    line-height: 7px;
}

.libSidebar_item:hover > .iconLarge{
color: white;
-webkit-transition-duration: 0s; /* Safari */
transition-duration: 0s;
}

img.libsideBar_logo {
    width: 36px;
    opacity: .5;
    -webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
}

.libSidebar_item:hover > img.libsideBar_logo, .libSidebar_item a:hover > .sidebarIcon_link img {
    opacity: 1;
    -webkit-transition-duration: .0s; /* Safari */
    transition-duration: .0s;
}

.sidebarIcon_link img {
    width: 60px;
    opacity: .5;
    -webkit-transition-duration: .2s; /* Safari */
    transition-duration: .2s;
}

.libSidebar_LSU {
margin-top:20px;
margin-bottom: 20px;
}


#roomNav .mm-title::before{
content:'';
}

.mm-title {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 11px;
    margin-top: 25px;
    color: #474747!important;

}

.mm-theme-dark .mm-title{
    color: #bfbfbf!important;
}

a.mm-btn.mm-prev {
    margin-top: 25px;
}

.mm-navbar {
height: 86px!important;
}

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
    margin-top: 26px!important;
}

li.mm-divider {
    letter-spacing: 1px;
    text-align: left;
    text-indent: 12px!important;
}

.mm-menu.mm-theme-dark .mm-divider, .mm-menu.mm-theme-dark .mm-fixeddivider span, .mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>.mm-panel, .mm-menu.mm-theme-dark .mm-listview>li.mm-opened.mm-vertical>a.mm-next, .mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>.mm-panel, .mm-menu.mm-theme-dark.mm-vertical .mm-listview>li.mm-opened>a.mm-next
{
    background: rgba(0,0,0,.2)!important;
}

.libFooter {
    height: auto;
    width: 100%;
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #474747;
margin-top: 200px;
}

.rightFooter {
    width: 50%;
    text-align: right;
    position: relative;
    top: 22px;
}

.leftFooter {
    width: 50%;
}

.leftFooter_item {
    text-transform: uppercase;
    line-height: 14px;
    font-size: 11px;
    padding-top: 10px;
    letter-spacing: 2px;
    position: relative;
    bottom: 8px;
}

.leftFooter::before {
    content: '';
    width: 20px;
    height: 53px;
    background-color: #474747;
    display: block;
    float: left;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.rightFooter i {
    color: #a28ebd;
    margin-top: 5px;
position: relative;
}

.rightFooter i:hover {
bottom: 3px;

}

.belowFooter{
    font-size: 10px;
    margin-bottom: 10px;
    width: 100%;
    align-self: flex-start;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 55px;
}

.belowFooter_item {
    width: 420px;
    align-self: flex-start;
}

.rightFooter_item {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    color: grey;
    width: 98%;
    position: absolute;
    bottom: 10px;
    left: 12px;
    text-align: center;
    margin: 0 auto;
}

.roomImg{
    width: 100%;
max-width: 1440px;
filter:blur(5px) brightness(0.9);
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.roomImgDark{
    filter:blur(5px) brightness(0.6);
    -webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.heroDetails {
    position: absolute;
    top: 145px;
    right: 16px;
}


.heroFlavor {
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: 1px solid white;
    width: 100px;
    position: absolute;
    height: 100px;
    top: -130px;
    right: 0px;
    line-height: 17px;
}

.roomHero {
display: flex;
align-items: center;
justify-content: center;
position:relative;
    height: auto;
    margin: 0px 86px 0px 86px;
    max-width: 1440px;
align-self: center;
overflow: hidden;
}

.heroTitle{
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0.8;
    height: 100%;
    top: 0px;
    left: 10%;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
zoom: 1;
}

span.heroHighlight {
    background: rgba(60, 60, 60, 0.6);
    margin-top: 1px;
    padding: 0px 300px 0px 6px;
    color: rgba(255, 255, 255, 0.9);
}




.heroList{
display: flex;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    justify-content: flex-start;
    letter-spacing: 1px;
    padding-left: 1px;
    margin-top: 1px;
    border-right: 4px solid white;
}

.itemHighlight{
    padding-left: 110px;
padding-right: 5px;

}

.heroList_item {
    font-size: 10px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 1px;
    text-align: right;
-webkit-transition: 0.2s;
-moz-transition: 0.2s;
-o-transition: 0.2s;
transition: 0.2s;
}

.heroList_header{
    font-size: 12px;
    padding: 2px;
    color: #474747;
    background: rgba(255, 255, 255, 0.75);
}


.heroList_item:hover{
-webkit-transition: 0s;
-moz-transition: 0s;
-o-transition: 0s;
transition: 0s;

}

.itemHighlight:hover {
    background: #fff;
    color: #474747;
    padding-left: 5px;
    margin-right: 10px;
}

.roomSingle .imageMap {
    display: inline-block;
width: 300%;
}

.roomText {
    background: white;
    color: #474747;
    font-size: 12px;
    border-radius: 0px;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 20px;
position:relative;
max-width: 25%;
    min-width: 360px;
}

.floorPage{
    padding-bottom: 50px;

}

.roomName{
font-weight: 900;
}

.roomReturn{
margin-left: 0px;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.roomReturn:hover{
background:#a28ebd;
color:white;
-webkit-transition: 0s;
-moz-transition: 0s;
-o-transition: 0s;
border:1px solid white;
transition: 0s;
}

.test {
    display: inline;
    margin: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

a.noDecor{
text-decoration: none;
color: #474747;
    flex-grow: 1;
}

.menuRoom {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.double{
border-right: 0px;
}

.heroDetails a{
text-decoration: none;
color:white;
}

.smallMap{
    margin-top: 30px;
    position: absolute;
    right: 0px;
    top: 100px;
}

.smallMap .room{
background: #ffffff;
color:#474747;
display: none;
}
.smallMap .roomTitle{
display:none;
}

.heroDetails .room{
display: block;
}

.zeroOpacity{
opacity: 0;
}

.singleHotspot .room, .singleHotspot .mask{
opacity:0;
}

.imageMap:hover > .singleHotspot .room, .imageMap:hover > .singleHotspot .mask{
opacity:1;
}

.singleHotspot_this .room, .singleHotspot_this .mask{
opacity:1;
}

.heroList .hotspots, img.floor2{
display:none;
}

.quietStudy_item:hover .hotspots, .groupDoorless_item:hover .hotspots, .collaboration_item:hover .hotspots, .groupStudy_item:hover .hotspots, .artGallery_item:hover .hotspots{
display: block;
}

.classroom_item:hover .hotspots, .classroom_item:hover img.floor2, .staffConference_item:hover .hotspots, .staffConference_item:hover img.floor2, .computerLab_item:hover .hotspots, .computerLab_item:hover img.floor2{
display:block;
}

.smallMap:hover .hotspots{
display: none
}

.transparent{
background: transparent;
}

.{
opacity: 0.6;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

.:hover{
opacity: 1;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
transition: 0.25s;
}

. .itemHighlight:hover{
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

. .heroFlavor{
color:#474747;
border: 1px solid #474747;
}

. a{
color:#474747;
}

. .smallMap .room{
    background: #474747;
}

. .heroList{
color:#474747;
border-right: 4px solid #474747;
}

.heroLimit{
    width:60%;
}

.heroMessage {
    font-size: .4em;
    text-transform: none;
    line-height: 1em;
}

.libContact {
padding: 60px 0px 60px 0px;
letter-spacing: 1px;
background: #fae38d;
max-width: 1440px;
width: 100%;
display: flex;
justify-content: center;
align-content: center;
}

.contactText {
    padding: 10px;
    font-size: 1.2em;
    font-weight: 700;
}

@media (max-width: 1200px) {


.donateButton{
        right: -20px;
    padding: 7px 21px 7px 21px;
    font-size: 0.8em;
}
.dropDown > a{
   pointer-events: none;
   cursor: default;
}

.roomText {
    min-width: 160px;
}

.heroDetails{
    right: 12px;
}

.heroTitle{
    left: 1%;
}
.roomNav{
right: 10px;
}

.roomTitle {
    font-weight: 900;
font-size: 12px;
line-height: 12px;
}


.libHeader{
    height: 72px;
}

.roomHero {
display: flex;
align-items: center;
justify-content: center;
position:relative;
    height: auto;
    width: calc(100% - 24px);
    margin: 0 auto;
padding: 0px;
}


.rightFooter_item {
    text-transform: uppercase;
    font-size: 7px;
    letter-spacing: 2px;
    color: grey;
    width: 98%;
    position: absolute;
    bottom: 10px;
    left: 12px;
    text-align: center;
    margin: 0 auto;
}



.belowFooter {
    padding-bottom: 60px;
}

.belowFooter_item {
width:100%;
}



.libGrid_item {
width: calc(33.333% - 2px);
}

.libGrid_item:nth-child(3n+2) {
    margin-right: 0px;
    width: 33.33333%;
}

.mapControls {
display:none;
}

.foldControls {
display:none;
}

.roomText{
padding-bottom: 30px;
font-size: .6em;
}

.libTitle{
margin-left: 22px;
}

.libContent, .libHeader{
padding-left: 12px;
padding-right: 12px;
}
.libSidebar{
display: none;
}
.libPage{
margin-left: 0px;
width: 100%;
height:100%;
}

.menuIcon{
display: inline-block;
}

#my-icon{
  top:-3px!important;
  left: 0px !important;
}

.libHeader_menu {
    position: relative;
    top: -2px;
    left: 11px;
width: calc(100% - 68px);
}


.libHeader_logo img {
    width: 180px;
    position: relative;
    top: 10px;
    padding-top: 6px;
    padding-bottom: 8px;
    left: 68px;
}

.libFooter{
margin-top:100px;
}

.rightFooter{display:none;}
.mobileSelect2{
display:flex;
}

}

@media (max-width: 836px) {

.libContact {
    padding: 60px 15px 60px 15px;
}

.donateButton{
    display: none;
}

.roomImg{
filter: blur(0px) brightness(0.5);
}

.roomHero:hover .roomImg{
filter: blur(0px) brightness(1);
}

.roomHero:hover .heroTitle{
filter: blur(0px);
opacity: 1!important;
}

.overlay{
display:none;
}

.heroTitle{
    left: 28%;
    background: none;
    top: 0px;
}


.heroLimit {
    width: 60%;
    left: 10%;
}


.mobileSelect{
display:flex;
}

.roomIcon {
display:block;
}
.libCentral{
background-size: 2.5px 2.5px;

}

.roomTitle{
    font-size: 5px;
    line-height: 5px;
    padding: 1px;
border-radius:2px;    letter-spacing: 0px;
}

.roomHero {

    width: 100%;

}

.belowFooter_item {
    width: 100%;
}


.leftFooter_item{
    width: 210px;
}

.roomText {
max-width:100%;
margin: 0px;
}


.libFooter{
margin-top:100px;
}


.menuLabel, .heroDetails{
display:none;
}

#my-icon{
top:0px!important;
    left: 0px !important;
    zoom: 0.5;
    -moz-transform: scale(0.5);
}

.menuIcon{
    top: 13px;
    left: 0px;
}

.libHeader_logo{
    width: 120px;
    padding-top: 6px;
}

.libHeader_logo img{
    top: 0px;
    left: 0px;
    width: 120px;
}

.libCentral{
padding-bottom:100px;
flex-wrap: wrap;
}
.libAddition, .libPage_divider{
display: block;
}
.libHeader{
height: 40px;
}
.libSidebar, .libHeader_menu:not(.libTitle){
display: none;
}
.libPage{
margin-left: 0px;
width: 100%;
}


.imageMap {
    margin: 10px;
}
.mapTitle{
font-size: 10px;
}
.mapSubtitle{
font-size: 8px;
padding: 1px;
}

}

@media (max-width: 450px) {




.libAddition{
height: 66px;
}

.roomTitle{
    font-size: 2px;
    line-height: 2px;
    padding: 2px 2px 1px 2px;
}
}
