/* web fonts */
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto:100,300,400,600,700";
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot");
}
/* global styles */
.heroTitle {
  font-size: 120px;
  line-height: 110px;
}

.heroSubtitle {
  font-size: 60px;
  line-height: 50px;
}

.smallMap {
  width: 350px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 2000px) {
  .smallMap {
    width: 16vw;
  }

  .heroTitle {
    font-size: 6vw;
    line-height: 5.5vw;
  }

  .heroSubtitle {
    font-size: 3.25vw;
    line-height: 3vw;
  }
}
.roomHero:hover .overlay {
  min-width: 280px;
  transform: translateX(-18vw);
}
.roomHero:hover .roomImg {
  filter: blur(0px);
}
.roomHero:hover .heroTitle {
  filter: blur(10px);
  opacity: 0.5 !important;
}

.overlay {
  position: absolute;
  bottom: 0;
  right: -18vw;
  background-color: rgba(71, 71, 71, 0.86);
  overflow: hidden;
  height: 100%;
  transition: .5s ease;
  width: 18vw;
  min-width: 0px;
  max-width: 400px;
}

:focus {
  outline: 0px;
}

/* The container <div> - needed to position the dropdown content */
.dropDown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 340px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

/* Links inside the dropdown */
.libHeader_menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-right: 0px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #474747;
  color: white;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

/* Show the dropdown menu on hover */
.dropDown:hover .dropdown-content {
  display: block;
  padding-top: 11px;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
html, body {
  margin: 0px;
  font-family: Roboto;
  background: #303030;
  color: #474747;
  overflow-x: hidden;
}

.libContainer {
  min-height: 1600px;
}

div#scene {
  width: 100%;
  overflow: hidden;
}

img.libLogo {
  width: 120px;
  height: auto;
  padding: 20px 20px 17px 20px;
}
img.newmap {
  position: relative;
  top: -10px;
  width: 100%;
  overflow: visible !important;
}

.invisible {
  opacity: 0 !important;
}

.libContainer > img {
  position: absolute;
  width: 45%;
  margin-left: 32.5%;
  margin-top: 58px;
}

.mapOptions {
  display: flex;
  position: relative;
}

.contactInfo {
  color: white;
  font-size: 14px;
  border: 1px solid #fae38d;
  padding: 36px;
  border-radius: 2px;
  position: relative;
  left: 14%;
  bottom: 70px;
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 1.3em;
}
.contactInfo::before {
  content: 'Contact Us';
  background: #fae38d;
  position: absolute;
  top: -34px;
  width: calc( 100% + 2px);
  left: -1px;
  padding: 10px;
  color: #36302f;
  box-sizing: border-box;
  font-size: 17px;
  font-weight: 600;
  border-radius: 2px 2px 0px 0px;
}

.mapWrap > img.newmap {
  opacity: 0;
}

.zoomImg {
  padding-left: 0%;
  overflow: hidden;
  z-index: 5;
}

.noDisplay {
  display: none;
  z-index: 3;
}

.boldText {
  font-weight: 700;
}

.mapSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  justify-content: center;
  -webkit-transition-duration: 0.25s;
  /* Safari */
  transition-duration: 0.25s;
  overflow: hidden;
}

.header {
  background: #303030;
  border-bottom: 1px solid;
  -webkit-transition-duration: 0.25s;
  /* Safari */
  transition-duration: 0.25s;
  display: flex;
  align-items: center;
}

.map {
  width: 45%;
  position: relative;
  margin-left: 10%;
  left: 22%;
}

.mapWidth {
  width: 100%;
}

.mapHeader {
  position: absolute;
  left: -40%;
  color: white;
  top: 12px;
  z-index: 4;
}

h1 {
  text-transform: uppercase;
  font-size: 3.6vw;
  width: 280px;
  line-height: 3.1vw;
  margin: 0px;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.49vw;
  width: 200%;
  margin: 0px 0px 10px 0px;
}

.mapText {
  position: absolute;
  top: 21%;
  left: 103%;
  font-size: 11px;
  width: 26%;
  max-width: 122px;
  color: white;
  z-index: 4;
  display: none;
}

.libPage {
  display: flex;
  flex-direction: column;
}

.singleIcon {
  position: absolute;
  top: 140px;
  left: 8px;
  background: white;
  z-index: 2;
  height: 30px;
  width: 30px;
  padding: 20px;
  color: grey;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondIcon {
  position: absolute;
  top: 219px;
  left: 8px;
  background: white;
  z-index: 2;
  height: 30px;
  width: 30px;
  padding: 20px;
  color: grey;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roomIcon {
  position: absolute;
  right: 10px;
  top: 9px;
  display: none;
  color: #474747;
}

.libSidebar {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-right: 1px solid #c7c7c7;
  width: 86px;
  position: fixed;
  height: 100%;
  top: 0px;
}

.libSidebar_item {
  height: 86px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lastItem {
  height: 86px;
  border-bottom: 0px;
  align-self: flex-end;
  width: 86px;
  position: relative;
  bottom: 0px;
}

.libSidebar_LSU img {
  width: 40px !important;
}

.libSidebar_bottomRegion {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.libHeader {
  display: flex;
  background-color: #f2f2f2;
  padding: 0px;
  color: #474747;
  width: auto;
  height: 132px;
  flex-direction: column;
  align-items: center;
  padding-left: 26px;
  padding-right: 16px;
  position: relative;
}

a.donateLink {
  color: #474747;
}

.donateButton {
  position: absolute;
  bottom: 5px;
  right: 0px;
  padding: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  border: 1px solid #c3c3c3;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}
.donateButton i.fa.fa-gift {
  font-size: 2em;
  margin-right: 10px;
}

.libContent {
  display: flex;
  flex-direction: column;
  padding-left: 86px;
  padding-right: 86px;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}

.libCentral {
  background-image: url(http://i.imgur.com/BJtKhwV.png);
  width: 100%;
  max-width: 1440px;
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.libAddition {
  width: 100%;
  max-width: 1440px;
  height: 86px;
  margin-top: 2px;
}

.libAddition_item {
  float: left;
  width: calc(20% - 2px);
  margin-right: 2px;
  background-color: #f2f2f2;
  height: 100%;
}

.libContent a {
  text-decoration: none;
  color: #474747;
}

.libAddition_item:last-child {
  margin-right: 0px;
}

span.listCategory {
  background: #474747;
  border-radius: 4px;
  color: white;
  padding: 3px;
  font-size: 6px;
  margin-left: 5px;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.roomNav {
  color: #474747 !important;
  top: 10px;
  width: 100%;
  background: white;
  padding: 7px 0px 7px 0px;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 10px;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 10px;
  border: 1px solid #ccc;
}
.roomNav:hover {
  color: #FFFFFF !important;
  background: #474747;
  border: 1px solid #474747;
}
.roomNav i {
  margin-right: 5px;
}

.mapNav {
  width: 100%;
  height: 100px;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mapKey {
  margin-bottom: .5vw;
  font-size: .84vw;
  cursor: pointer;
}

.lessOpacity {
  opacity: 0.1;
}

.key {
  display: flex;
  align-items: center;
}

.darken {
  filter: blur(2px) brightness(0.8);
}

.undarken {
  filter: brightness(1) grayscale(0%) !important;
  opacity: .2;
}

.keyText {
  line-height: 1.1em;
}

.keys {
  position: absolute;
  top: 99%;
  color: white;
  font-size: 11px;
  width: 140%;
}

.keyTitle {
  font-weight: 600;
}

.keyNumber {
  background: #303030;
  padding: 6px 10px;
  margin-right: 6px;
  border-radius: 2px;
  -webkit-transition-duration: 0.25s;
  /* Safari */
  transition-duration: 0.25s;
  min-width: 16px;
  text-align: center;
}

.key1 .keyNumber {
  border-right: 12px solid #d6ebfe;
}

.key2 .keyNumber {
  border-right: 12px solid #cfe4b6;
}

.key3 .keyNumber {
  border-right: 12px solid #f7f5cd;
}

.key4 .keyNumber {
  border-right: 12px solid #b5d4ad;
}

.key5 .keyNumber {
  border-right: 12px solid #ffd8b1;
}

.key6 .keyNumber {
  border-right: 12px solid #f5df9e;
}

.key7 .keyNumber {
  border-right: 12px solid #ccbcf9;
}

.key8 .keyNumber {
  border-right: 12px solid #ab9784;
}

.key9 .keyNumber {
  border-right: 12px solid #e3e3e3;
}

.key10 .keyNumber {
  border-right: 12px solid #faa3a3;
}

.key11 .keyNumber {
  border-right: 12px solid #7dfedf;
}

.key:hover > .keyNumber {
  -webkit-transition-duration: 0s;
  /* Safari */
  transition-duration: 0s;
}

.key1:hover > .keyNumber {
  border-right: 20px solid  #d6ebfe;
}

.key2:hover > .keyNumber {
  border-right: 20px solid #cfe4b6;
}

.key3:hover > .keyNumber {
  border-right: 20px solid #f7f5cd;
}

.key4:hover > .keyNumber {
  border-right: 20px solid #b5d4ad;
}

.key5:hover > .keyNumber {
  border-right: 20px solid #ffd8b1;
}

.key6:hover > .keyNumber {
  border-right: 20px solid #f5df9e;
}

.key7:hover > .keyNumber {
  border-right: 20px solid #ccbcf9;
}

.key8:hover > .keyNumber {
  border-right: 20px solid #ab9784;
}

.key9:hover > .keyNumber {
  border-right: 20px solid #e3e3e3;
}

.key10:hover > .keyNumber {
  border-right: 20px solid #faa3a3;
}

.key11:hover > .keyNumber {
  border-right: 20px solid #7dfedf;
}

.mapNav_label {
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 9px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  color: #676767;
  background: #ffffff;
  box-sizing: border-box;
  border-bottom: 4px solid #676767;
}

.nameLegend::before {
  content: '';
  width: 20px;
  height: 10px;
  margin-right: 5px;
  background: #c8bbd8;
  display: inline-block;
}

.takenLegend::before {
  content: '';
  width: 20px;
  height: 10px;
  margin-right: 5px;
  background: #ffb2b2;
  display: inline-block;
}

.single {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  line-height: 12px;
  font-weight: 900;
}

.mapNav_item {
  width: 34%;
  height: 100%;
  margin-right: 2%;
}
.mapNav_item:nth-child(3) {
  margin-right: 0px;
}

.libGrid {
  height: auto;
  width: 100%;
  max-width: 1440px;
  position: relative;
}

.libGrid_item {
  float: left;
  width: calc(16.66% - 2px);
  margin-right: 2px;
  background-color: #f2f2f2;
  margin-top: 2px;
  height: 100%;
  position: relative;
  max-width: 120px;
  max-height: 120px;
}
.libGrid_item img {
  width: 100%;
}

.itemTitle {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #474747;
  letter-spacing: 1px;
  font-size: 8px;
  background: rgba(255, 255, 255, 0.66);
  height: 100%;
  justify-content: center;
  display: flex;
  opacity: 0;
  align-items: center;
  font-weight: 900;
  -webkit-transition-duration: 0.25s;
  /* Safari */
  transition-duration: 0.25s;
  text-align: left;
}

.libGrid_item:hover > .itemTitle {
  opacity: 1;
  -webkit-transition-duration: 0s;
  /* Safari */
  transition-duration: 0s;
}

.libPage_divider {
  background-image: url(http://i.imgur.com/BJtKhwV.png);
  margin-top: 2px;
  width: 100%;
  max-width: 1440px;
  height: 20px;
}

.imageMap {
  position: relative;
  margin-top: 30px;
}
.imageMap .hotspots {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.imageMap img {
  display: block;
  width: 100%;
  height: 100%;
}

.mobileSelect {
  width: 100%;
  position: relative;
  flex-direction: row;
  display: none;
}

.mobileSelect2 {
  width: 100%;
  position: relative;
  flex-direction: row;
  margin-top: -1px;
  display: none;
}

.grow1 {
  flex-grow: 1;
  z-index: 3;
}

.floor {
  display: flex;
  height: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 6px;
  letter-spacing: 1px;
  padding: 7px 0px 7px 0px;
  color: #ffffff;
  background-color: #474747;
}

.floorReveal {
  z-index: 2;
}

.current {
  color: white;
  background: #c8bbd8;
}

.notCurrent {
  color: #ccc;
  background: #474747;
}

.floorSelect {
  height: 34px;
  width: 0px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  opacity: 0;
}

.slideOut {
  height: 34px;
  width: 54px;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  opacity: 1.0;
}

.floor i {
  font-size: 2.5em;
  margin-right: 4px;
}

.mobileSelect2 .floor {
  line-height: 10px;
  font-size: 10px;
  letter-spacing: 1px;
  background: white;
  font-weight: 900;
  color: #474747;
  justify-content: flex-start;
}
.mobileSelect2 .floor i {
  font-size: auto;
  margin-right: 4px;
}
.mobileSelect2 .slideOut {
  padding: 1px;
}

.mapControls {
  position: absolute;
  bottom: -30px;
  width: 280px;
  background: #f9f9f9;
  height: 60px;
  right: -40px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  z-index: 99;
}

.hill .mapControls {
  bottom: -50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.foldControls {
  position: absolute;
  bottom: 29px;
  width: 0px;
  height: 0px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 14px solid #dbdbdb;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: -40px;
}

.libControls ul li {
  color: #474747;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  padding-right: 20px;
  font-weight: 700;
}
.libControls ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}
.libControls ul li .check {
  display: block;
  position: absolute;
  border: 3px solid #474747;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
  left: -30px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}
.libControls label {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.libControls ul li:hover .check {
  transition: border 0s linear;
  -webkit-transition: border 0s linear;
  border: 3px solid #9e8ab9;
}
.libControls ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 13px;
  width: 13px;
  top: -1px;
  left: -1px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}
.libControls input[type=radio]:checked ~ .check {
  border: 3px solid #474747;
}
.libControls input[type=radio]:checked ~ .check::before {
  background: #474747;
}
.libControls input[type=radio]:checked ~ label {
  color: #474747;
  font-weight: 700;
}

.room {
  position: absolute;
  z-index: 200;
  padding: 1px;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(70, 29, 124, 0.3);
}
.room.unnamed:hover {
  background: rgba(132, 132, 132, 0.4);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.room:hover {
  background: rgba(70, 29, 124, 0.4);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  /*background-image: url(http://i.imgur.com/mkAqq31.png);*/
}
.room:hover > .roomTitle {
  /*color: #474747;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.7);*/
}

.roomTitle {
  border-radius: 4px;
  font-size: 12px;
  line-height: 10px;
  letter-spacing: 0px;
  background: none;
  font-weight: 700;
  border: none;
  color: white;
  text-transform: uppercase;
  padding: 3px;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.symbolTitle {
  color: #a28ebd;
  background: none;
}

.baysTitle {
  background-color: transparent;
  color: #474747;
}

.hotspots .unnamed {
  background: rgba(132, 132, 132, 0.15);
}
.hotspots .transparent {
  background: transparent;
}
.hotspots .transparent > .roomTitle {
  z-index: 201;
  color: #474747;
  text-shadow: none;
  border: none;
  background: none;
}

.greyMask > .roomTitle {
  color: #474747;
}

.hotspots .unnamed > .roomTitle {
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  color: #474747;
}

.named {
  background: rgba(255, 0, 0, 0.3);
}
.named:hover {
  background: rgba(255, 0, 0, 0.4);
}

div.doorLess {
  height: 20%;
  width: 100%;
  padding: 0px;
}

.doorlessGroup {
  display: flex;
  flex-direction: column;
  width: 3.9%;
  position: absolute;
  top: 48.5%;
  left: 4.8%;
  height: 21.6%;
  padding: 1px;
  justify-content: space-between;
}

.collaboration2Mask {
  background-image: url(../images/masks/collab2_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.collaboration2Mask:hover {
  background-image: url(../images/masks/collab2_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  background-repeat: no-repeat;
}

.musicMask {
  background-image: url(../images/masks/music_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.musicMask:hover {
  background-image: url(../images/masks/music_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  background-repeat: no-repeat;
}

.adminMask {
  background-image: url(../images/masks/admin_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.adminMask:hover {
  background-image: url(../images/masks/admin_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  background-repeat: no-repeat;
}

.loungecMask {
  background-image: url(../images/masks/loungec_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.loungecMask:hover {
  background-image: url(../images/masks/loungec_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.loungedMask {
  background-image: url(../images/masks/lounged_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}
.loungedMask:hover {
  background-image: url(../images/masks/lounged_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.collabMask_white {
  background-image: url(../images/masks/collab_bg_white.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}

.sr .fooReveal {
  visibility: hidden;
}

.collabMask_white {
  background-image: url(../images/masks/collab_bg_white.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}

.collabMask {
  background-image: url(../images/masks/collab_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.collabMask:hover {
  background-image: url(../images/masks/collab_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.seatingMask {
  background-image: url(../images/masks/seating_bg.png);
  position: absolute;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.seatingMask:hover {
  background-image: url(../images/masks/seating_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  background-repeat: no-repeat;
}

.chartwellsMask {
  background-image: url(../images/masks/chartwells_bg.png);
  position: absolute;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
  background-repeat: no-repeat;
}
.chartwellsMask:hover {
  background-image: url(../images/masks/chartwells_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  background-repeat: no-repeat;
}

.returnMask {
  background-image: url(../images/masks/return_bg.png);
  position: absolute;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: 0.75s;
  -moz-transition: 0.75s;
  -o-transition: 0.75s;
  transition: 0.75s;
}
.returnMask:hover {
  background-image: url(../images/masks/return_bg2.png);
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.collabMask > .roomTitle {
  position: relative;
  right: 10%;
}

.returnMask > .roomTitle {
  position: relative;
  bottom: 27%;
  right: 5%;
}

.adminMask > .roomTitle {
  position: relative;
  bottom: 18.5%;
  right: 8%;
}

.loungecMask > .roomTitle {
  position: relative;
  top: 29%;
}

.Middleton {
  padding-top: 20px;
  padding-bottom: 0px;
}

.mapTitle {
  font-size: 12px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  bottom: -17%;
  letter-spacing: 2px;
  border-bottom: 10px solid #474747;
  font-weight: 600;
  position: absolute;
  z-index: 99;
  max-width: 710px;
  text-transform: uppercase;
  left: 0px;
  display: none;
}

.mapTitleMiddleton {
  font-size: 12px;
  padding: 5px 0px 0px 0px;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  bottom: -12.5%;
  letter-spacing: 2px;
  border-bottom: 10px solid #474747;
  font-weight: 600;
  z-index: 99;
  text-transform: uppercase;
  position: absolute;
  display: none;
}

.firstHill {
  margin-bottom: 30px;
}

.mapSubtitle {
  padding: 0px 0px 2px 0px;
  font-weight: 400;
  text-align: left;
  border-radius: 50px;
  display: inline-block;
}

.libHeader_current {
  color: #a28ebd !important;
}

.libHeader_logo, .libHeader_menu {
  width: 100%;
}

.libHeader_logo img {
  width: 300px;
  position: relative;
  top: 53px;
  left: 0px;
}

.libHeader_menu {
  position: relative;
  top: 57px;
  left: 0px;
}
.libHeader_menu a {
  text-decoration: none;
  color: #474747;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  margin-right: 20px;
  -webkit-transition-duration: 1s;
  /* Safari */
  transition-duration: 1s;
}
.libHeader_menu > a:hover {
  color: #9e8ab9;
  -webkit-transition-duration: .2s;
  /* Safari */
  transition-duration: .2s;
  padding-bottom: 15px;
}

.libAddition, .libPage_divider {
  display: none;
}

.menuIcon {
  top: 10px;
  left: 0px;
  display: none;
}

#my-icon {
  top: 0 !important;
  left: 0 !important;
  position: absolute;
}

.mm-listview > li {
  -webkit-transition-duration: .2s;
  /* Safari */
  transition-duration: .2s;
  bottom: 0px;
  position: relative;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
}

.mm-theme-dark .mm-listview > li:not(.mm-divider):hover {
  color: white;
}

.menuLabel {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 1px;
  position: absolute;
  width: 40px;
  letter-spacing: 0px;
  height: 19px;
  z-index: 10;
  top: 28px;
  left: -16px;
  text-align: center;
  display: none;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#studyBays .roomTitle, #studyArea .roomTitle, #accessServices .roomTitle, .rotate {
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 0px;
}

.libTitle {
  display: inline-block;
  font-weight: 700;
  color: #474747;
  border-bottom: 0px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  margin-right: 20px;
}

.iconLarge {
  font-family: FontAwesome Regular;
  color: #474747;
  -webkit-transition-duration: .2s;
  /* Safari */
  transition-duration: .2s;
}

.iconTitle {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  bottom: 14px;
  left: 0px;
  text-align: center;
  width: 100%;
  color: #474747;
}

nav i {
  margin-right: 5px;
}

.twoLines {
  width: 72px;
  line-height: 10px;
}

.libSidebar a {
  color: #d3d3d3;
  text-decoration: none;
  line-height: 7px;
}

.libSidebar_item:hover > .iconLarge {
  color: white;
  -webkit-transition-duration: 0s;
  /* Safari */
  transition-duration: 0s;
}

img.libsideBar_logo {
  width: 36px;
  -webkit-transition-duration: 0s;
  /* Safari */
  transition-duration: 0s;
}

.libSidebar_item:hover > img.libsideBar_logo, .libSidebar_item a:hover > .sidebarIcon_link img {
  opacity: 1;
  -webkit-transition-duration: .0s;
  /* Safari */
  transition-duration: .0s;
}

.sidebarIcon_link img {
  width: 60px;
  opacity: .5;
  -webkit-transition-duration: .2s;
  /* Safari */
  transition-duration: .2s;
}

.libSidebar_LSU {
  margin-top: 20px;
  margin-bottom: 20px;
}

#roomNav .mm-title::before {
  content: '';
}

.mm-title {
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 11px;
  margin-top: 25px;
  color: #474747 !important;
}

.mm-theme-dark .mm-title {
  color: #bfbfbf !important;
}

a.mm-btn.mm-prev {
  margin-top: 25px;
}

.mm-navbar {
  height: 86px !important;
}

.mm-panels > .mm-panel > .mm-listview:first-child, .mm-panels > .mm-panel > .mm-navbar + .mm-listview {
  margin-top: 26px !important;
}

li.mm-divider {
  letter-spacing: 1px;
  text-align: left;
  text-indent: 12px !important;
}

.mm-menu.mm-theme-dark .mm-divider, .mm-menu.mm-theme-dark .mm-fixeddivider span {
  background: rgba(0, 0, 0, 0.2) !important;
}
.mm-menu.mm-theme-dark .mm-listview > li.mm-opened.mm-vertical > .mm-panel, .mm-menu.mm-theme-dark .mm-listview > li.mm-opened.mm-vertical > a.mm-next {
  background: rgba(0, 0, 0, 0.2) !important;
}
.mm-menu.mm-theme-dark.mm-vertical .mm-listview > li.mm-opened > .mm-panel, .mm-menu.mm-theme-dark.mm-vertical .mm-listview > li.mm-opened > a.mm-next {
  background: rgba(0, 0, 0, 0.2) !important;
}

.footer {
  background: white;
  padding: 0px 10%;
}

.libFooter {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #474747;
  padding-top: 200px;
}

.rightFooter {
  width: 50%;
  text-align: right;
  position: relative;
  top: 22px;
}

.leftFooter {
  width: 50%;
}

.leftFooter_item {
  text-transform: uppercase;
  line-height: 14px;
  font-size: 11px;
  padding-top: 10px;
  letter-spacing: 2px;
  position: relative;
  bottom: 8px;
}

.leftFooter::before {
  content: '';
  width: 20px;
  height: 53px;
  background-color: #474747;
  display: block;
  float: left;
  position: relative;
  top: 4px;
  margin-right: 10px;
}

.rightFooter i {
  color: #474747;
  margin-top: 5px;
  position: relative;
}
.rightFooter i:hover {
  bottom: 3px;
}

.belowFooter {
  font-size: 10px;
  margin-bottom: 10px;
  width: 100%;
  align-self: flex-start;
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0 auto;
  padding-bottom: 55px;
}

.belowFooter_item {
  width: 420px;
  align-self: flex-start;
}

.rightFooter_item {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  color: grey;
  width: 98%;
  position: absolute;
  bottom: 10px;
  left: 12px;
  text-align: center;
  margin: 0 auto;
}

.roomImg {
  width: 100%;
  filter: blur(5px) brightness(0.9);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.roomImgDark {
  filter: blur(5px) brightness(0.6);
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.heroDetails {
  position: absolute;
  top: 145px;
  right: 16px;
}

.heroFlavor {
  color: white;
  padding: 10px;
  text-transform: uppercase;
  border: 1px solid white;
  width: 100px;
  position: absolute;
  height: 100px;
  top: -130px;
  right: 0px;
  line-height: 17px;
}

.roomHero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
  align-self: center;
  background: #8a786d;
  overflow: hidden;
}

.heroTitle {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  opacity: 0.8;
  height: 100%;
  top: 0px;
  left: 10%;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  zoom: 1;
}

span.heroHighlight {
  background: rgba(60, 60, 60, 0.6);
  margin-top: 1px;
  padding: 0px 300px 0px 6px;
  color: rgba(255, 255, 255, 0.9);
}

.heroList {
  display: flex;
  flex-direction: column;
  color: white;
  text-transform: uppercase;
  justify-content: flex-start;
  letter-spacing: 1px;
  padding-left: 1px;
  margin-top: 1px;
  border-right: 4px solid white;
}

.itemHighlight {
  padding-left: 110px;
  padding-right: 5px;
}

.heroList_item {
  font-size: 10px;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: 1px;
  text-align: right;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.heroList_header {
  font-size: 12px;
  padding: 2px;
  color: #474747;
  background: rgba(255, 255, 255, 0.75);
}

.heroList_item:hover {
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}

.itemHighlight:hover {
  background: #fff;
  color: #474747;
  padding-left: 5px;
  margin-right: 10px;
}

.roomSingle .imageMap {
  display: inline-block;
  width: 300%;
}

.roomText {
  background: white;
  color: #474747;
  font-size: 12px;
  border-radius: 0px;
  border: 1px solid #ccc;
  padding: 30px;
  margin: 20px;
  position: relative;
  max-width: 25%;
  min-width: 360px;
}

.floorPage {
  padding-bottom: 50px;
}

.roomName {
  font-weight: 900;
}

.roomReturn {
  margin-left: 0px;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}
.roomReturn:hover {
  background: #a28ebd;
  color: white;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -o-transition: 0s;
  border: 1px solid white;
  transition: 0s;
}

.test {
  display: inline;
  margin: 10px;
  text-transform: uppercase;
  font-size: 10px;
}

a.noDecor {
  text-decoration: none;
  color: #474747;
  flex-grow: 1;
}

.menuRoom {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.double {
  border-right: 0px;
}

.heroDetails a {
  text-decoration: none;
  color: white;
}

.smallMap {
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 100px;
}
.smallMap .room {
  background: #ffffff;
  color: #474747;
  display: none;
}
.smallMap .roomTitle {
  display: none;
}

.heroDetails .room {
  display: block;
}

.zeroOpacity {
  opacity: 0;
}

.singleHotspot .room, .singleHotspot .mask {
  opacity: 0;
}

.imageMap:hover > .singleHotspot .room, .imageMap:hover > .singleHotspot .mask {
  opacity: 1;
}

.singleHotspot_this .room, .singleHotspot_this .mask {
  opacity: 1;
}

.heroList .hotspots, img.floor2 {
  display: none;
}

.quietStudy_item:hover .hotspots, .groupDoorless_item:hover .hotspots, .collaboration_item:hover .hotspots, .groupStudy_item:hover .hotspots, .artGallery_item:hover .hotspots {
  display: block;
}

.classroom_item:hover .hotspots, .classroom_item:hover img.floor2 {
  display: block;
}

.staffConference_item:hover .hotspots, .staffConference_item:hover img.floor2 {
  display: block;
}

.computerLab_item:hover .hotspots, .computerLab_item:hover img.floor2 {
  display: block;
}

.smallMap:hover .hotspots {
  display: none;
}

.transparent {
  background: transparent;
}

.heroLimit {
  width: 60%;
}

.heroMessage {
  font-size: .4em;
  text-transform: none;
  line-height: 1em;
}

.libContact {
  padding: 60px 0px 60px 0px;
  letter-spacing: 1px;
  background: #fae38d;
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.contactText {
  padding: 10px;
  font-size: 1.2em;
  font-weight: 700;
}

.giftPrompt {
  width: 100px;
  height: 100px;
  background: #fae38d;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #303030;
  position: absolute;
  right: 18%;
  top: 37px;
  z-index: 10;
}
.giftPrompt::before {
  content: '';
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 35px solid #fae38d;
  position: absolute;
  top: 50px;
  transform: rotate(10deg);
  left: -9px;
}
.giftPrompt i.fa.fa-gift {
  font-size: 3em;
}

.giftText {
  text-transform: uppercase;
  position: relative;
  top: -5px;
  font-weight: 600;
  font-size: 12px;
}

.mapLegend2 {
  position: absolute;
  bottom: 90px;
  right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  flex-wrap: wrap;
  height: 180px;
  width: 280px;
  display: none;
}

.iconKey {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 10px;
}

.iconText {
  margin-left: 10px;
}

.breadcrumb {
  color: white;
  font-size: 12px;
  margin-left: 30px;
  border: 1px solid white;
  padding: 0px 0px 2px 6px;
  border-radius: 4px;
  overflow: hidden;
}
.breadcrumb i.fa.fa-arrow-right {
  margin-left: 4px;
  margin-right: 6px;
}

.roomModal {
  position: absolute;
  left: calc(50% - 350px);
  z-index: 12;
  align-items: center;
  display: none;
  flex-direction: column;
}

.modalContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  width: 700px;
  margin-top: 200px;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.68);
}

.modalTitle:first-child {
  margin-top: 10px;
}

.modalPicture {
  height: 360px;
  width: 120%;
  background-size: cover;
  position: relative;
}

#concourse .modalPicture {
  background-image: url(../images/photos/concourse.jpg);
}

#reading .modalPicture {
  background-image: url(../images/photos/quietStudy.jpg);
}

#collaboration .modalPicture {
  background-image: url(../images/photos/graduateReading.jpg);
}

#southLounge .modalPicture {
  background-image: url(../images/photos/southLobby.jpg);
}

#northLounge .modalPicture {
  background-image: url(../images/photos/northLobby.jpg);
}

#largeGroup .modalPicture {
  background-image: url(../images/photos/groupConference.jpg);
}

#smallGroup .modalPicture {
  background-image: url(../images/photos/smallGroup.jpg);
}

#phoneRoom .modalPicture {
  background-image: url(../images/photos/phoneRoom.jpg);
}

#helpDesk .modalPicture {
  background-image: url(../images/photos/helpDesk.jpg);
}

#cafeLounge .modalPicture {
  background-image: url(../images/photos/cafe.jpg);
}

#mediaLobby .modalPicture {
  background-image: url(../images/photos/mediaLobby.jpg);
}

.exit {
  padding: 10px;
  text-align: center;
  background: #f55a5a;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.modalTitle {
  font-weight: 700;
  padding: 0px 20px 0px 20px;
  position: relative;
}

.modaltext {
  padding: 0px 20px 20px 20px;
}

.flex {
  display: flex;
}

@media (max-width: 1600px) {
  .mapText {
    position: absolute;
    top: 21%;
    left: 103%;
    font-size: 10px;
    width: 26%;
    max-width: 120px;
    color: white;
    z-index: 4;
  }

  .zoomPrompt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
    position: absolute;
    left: 71.7%;
    top: 40%;
    width: 150px;
  }

  .contactInfo {
    color: white;
    font-size: .84vw;
    border: 1px solid #fae38d;
    padding: 2vw;
    border-radius: 2px;
    position: relative;
    left: 14%;
    bottom: 33px;
    margin-bottom: 30px;
    margin-top: 10px;
    line-height: 1.4em;
  }

  .keyNumber {
    min-width: 11px;
  }

  .mapKey {
    margin-bottom: .5vw;
    font-size: 10px;
  }

  .keys {
    width: 96%;
  }

  h2 {
    width: auto;
  }
}
@media (max-width: 836px) {
  .libContact {
    padding: 60px 15px 60px 15px;
  }

  .donateButton {
    display: none;
  }

  .roomImg {
    filter: blur(0px) brightness(0.5);
  }

  .roomHero:hover .roomImg {
    filter: blur(0px) brightness(1);
  }
  .roomHero:hover .heroTitle {
    filter: blur(0px);
    opacity: 1 !important;
  }

  .overlay {
    display: none;
  }

  .heroTitle {
    left: 28%;
    background: none;
    top: 0px;
  }

  .heroLimit {
    width: 60%;
    left: 10%;
  }

  .mobileSelect {
    display: flex;
  }

  .roomIcon {
    display: block;
  }

  .libCentral {
    background-size: 2.5px 2.5px;
  }

  .roomTitle {
    font-size: 5px;
    line-height: 5px;
    padding: 1px;
    border-radius: 2px;
    letter-spacing: 0px;
  }

  .roomHero, .belowFooter_item {
    width: 100%;
  }

  .leftFooter_item {
    width: 210px;
  }

  .roomText {
    max-width: 100%;
    margin: 0px;
  }

  .libFooter {
    margin-top: 100px;
  }

  .menuLabel, .heroDetails {
    display: none;
  }

  #my-icon {
    top: 0px !important;
    left: 0px !important;
    zoom: 0.5;
    -moz-transform: scale(0.5);
  }

  .menuIcon {
    top: 13px;
    left: 0px;
  }

  .libHeader_logo {
    width: 120px;
    padding-top: 6px;
  }
  .libHeader_logo img {
    top: 0px;
    left: 0px;
    width: 120px;
  }

  .libCentral {
    padding-bottom: 100px;
    flex-wrap: wrap;
  }

  .libAddition, .libPage_divider {
    display: block;
  }

  .libHeader {
    height: 40px;
  }

  .libSidebar, .libHeader_menu:not(.libTitle) {
    display: none;
  }

  .libPage {
    margin-left: 0px;
    width: 100%;
  }

  .imageMap {
    margin: 10px;
  }

  .mapTitle {
    font-size: 10px;
  }

  .mapSubtitle {
    font-size: 8px;
    padding: 1px;
  }
}
@media (max-width: 450px) {
  .libAddition {
    height: 66px;
  }

  .roomTitle {
    font-size: 2px;
    line-height: 2px;
    padding: 2px 2px 1px 2px;
  }
}
@-webkit-keyframes clickHold {
  0%, 100% {
    background-image: url("../images/mouseOpen.png");
  }
  5% {
    background-image: url("../images/mouseOpen.png");
  }
  80% {
    background-image: url("../images/mouseClosed.png");
  }
}
@-moz-keyframes clickHold {
  0%, 100% {
    background-image: url("../images/mouseOpen.png");
  }
  5% {
    background-image: url("../images/mouseOpen.png");
  }
  80% {
    background-image: url("../images/mouseClosed.png");
  }
}
@-o-keyframes clickHold {
  0%, 100% {
    background-image: url("../images/mouseOpen.png");
  }
  5% {
    background-image: url("../images/mouseOpen.png");
  }
  80% {
    background-image: url("../images/mouseClosed.png");
  }
}
@keyframes clickHold {
  0%, 100% {
    background-image: url("../images/mouseOpen.png");
  }
  5% {
    background-image: url("../images/mouseOpen.png");
  }
  80% {
    background-image: url("../images/mouseClosed.png");
  }
}
#mouse {
  animation: clickHold 5s infinite;
}

.mouse {
  height: 28px;
  width: 19px;
  margin-right: 5px;
}

.zoomPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  position: absolute;
  left: 73.7%;
  top: 40%;
  width: 150px;
}

span.whitebg {
  background: white;
  color: black;
  margin: 4px;
  padding: 3px 3px 3px 2px;
  border-radius: 2px;
  font-weight: 700;
}

.breadcrumb span.whitebg {
  background: white;
  color: black;
  margin: 4px 0px 4px 6px;
  padding: 3px 3px 3px 0px;
  border-radius: 2px;
  font-weight: 700;
}

.textBody, .textBody2, .textBody3 {
  background: white;
  padding: 5% 10% 5% 10%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.textBody .textContainer, .textBody2 .textContainer, .textBody3 .textContainer {
  max-width: 1000px;
  align-self: center;
}
.textBody h2, .textBody2 h2, .textBody3 h2 {
  color: #474747;
  font-weight: 700;
  font-size: 40px;
}
.textBody h3, .textBody2 h3, .textBody3 h3 {
  font-size: 26px;
}

.textBody2 {
  background: #d0d0d0;
  z-index: 2;
}

.textBody3 h2 {
  margin: 0px;
}
.textBody3 h3 {
  margin-bottom: 40px;
}
.textBody3 p::before {
  content: '';
  width: 10px;
  height: 10px;
  display: inline-block;
  background: #474747;
  margin-right: 10px;
}

h3 {
  margin: 0px;
}

.textBody::before, .textBody2::before, .textBody3::before, .textBody3::before {
  content: '';
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 35px solid white;
  position: absolute;
  top: -20px;
  z-index: 3;
}

.textBody2::before {
  content: '';
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 35px solid #d0d0d0;
  position: absolute;
  top: -20px;
  right: 10%;
}

.textContent {
  font-size: 16px;
  line-height: 30px;
  position: relative;
}

img.photo {
  position: absolute;
  width: 430px;
  height: auto;
  bottom: -200px;
  right: 0px;
}
